<link rel="stylesheet" href="/styles/loginadmin.css">


<div class="login-admin-screen">
    <h2>LOGIN ADMIN</h2>
    <form action="/login" method="POST">
        <input type="text" name="adminname" id="admin-name" required>
        <input type="password" name="adminpass" id="admin-pass" required>
        <br><br>
        <button>entrar</button>
    </form>
    <hr style="width: 300px;">
</div>